# Ignore package-lock.json
package-lock.json

# Ignore package.json
package.json

# Ignore postcss.config.js
postcss.config.js

# Ignore tailwind.config.js
# tailwind.config.js

# Ignore node_modules directory
node_modules/