@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/QuicksandVariableFontwght.ttf");
}
@font-face {
  font-family: "HelveticaCompressed";
  src: url("../assets/fonts/HelveticaExtraCompressed.ttf");
}
@font-face {
  font-family: "Lufga";
  src: url("../assets/fonts/LufgaRegular.ttf");
}
