@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand-VariableFont_wght.ttf");
}
@font-face {
  font-family: "HelveticaCompressed";
  src: url("../assets/fonts/Helvetica\ Extra\ Compressed\ Regular.otf");
}
@font-face {
  font-family: "Lufga";
  src: url("../assets/fonts/Lufga-Regular.otf");
}
