/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component styles */
@tailwind components;

/* Import Tailwind's utility styles */
@tailwind utilities;

/* Define the Quicksand font */
@font-face {
	font-family: "Quicksand";
	src: url("/src/assets/fonts/QuicksandVariableFontwght.ttf") format("truetype");
}

/* Define the HelveticaCompressed font */
@font-face {
	font-family: "HelveticaCompressed";
	src: url("/src/assets/fonts/HelveticaExtraCompressed.ttf") format("truetype");
}

/* Define the Lufga font */
@font-face {
	font-family: "Lufga";
	src: url("/src/assets/fonts/LufgaRegular.ttf") format("truetype");
}
